---
title: Solace Messaging for Pivotal Cloud Foundry (BETA)
owner: Partners
---

This documentation describes Solace Messaging for Pivotal Cloud Foundry (PCF). Solace Messaging for PCF is a multi-protocol message broker. The Solace Messaging for PCF tile registers a service broker on PCF and exposes its service plans on the Marketplace. Developers can provision Message VPNs on a Solace Virtual Message Router (VMR) by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id='overview'></a>Overview

Solace Messaging for PCF enables developers to link their applications to a Solace VMR through a Message VPN. To learn more about these components, see the [Core Concepts](http://docs.solace.com/Features/Core-Concepts.htm#message-router-concepts) topic in the Solace documentation.

Solace Messaging for PCF includes the following features:

* Solace Messaging is now a Managed Service : The Tile deploys the Virtual Message Routers onto PCF's IaaS.
* Support for a range of message exchange patterns, deployment environments, and qualities of service, including open APIs and protocols like JMS, MQTT and REST 
* Support for distributing data over long-distance WAN links and streaming between web applications, mobile devices, and IoT devices like sensors and smart vehicles
* Guaranteed messaging
* Pub/sub and request/reply messaging
* Persistent message queues
* Maximum guaranteed message size of 10MB
* Up to 10K topic subscriptions per queue
* Up to 1000 incoming connections
* Up to 1000 concurrent transacted sessions
* Up to 1M in-flight concurrent messages

For examples of how PCF developers can configure their applications to use the Solace Messaging service, see the sample application [GitHub repository](https://github.com/SolaceSamples/solace-samples-cloudfoundry-java).

## <a id='architecture'></a>Architecture

The following diagram provides an overview of the product architecture of Solace Messaging for PCF.

<%= image_tag('Deployment-overview.png') %>

## <a id='snapshot'></a>Product Snapshot

Current Solace Messaging for Pivotal Cloud Foundry Details:

* **Version**: 0.2.0
* **Release Date**: October 13, 2016
* **Software component version**: Solace Messaging for PCF 0.2.0
* **Compatible Ops Manager Version(s)**: 1.6.x, 1.7.x, 1.8.x
* **Compatible Elastic Runtime Version(s)**: 1.6.x, 1.7.x, 1.8.x
* **vSphere support?** Yes
* **AWS support?** Yes
* **OpenStack support?** No

## <a id='prereqs'></a>Prerequisites

Solace Messaging for PCF has the following prerequisites:

* You must install the MySQL for PCF tile. When configuring the tile, set the maximum storage in the **Service Plan** section to 100 MB. See the MySQL for PCF [documentation](../p-mysql/index.html) for more information on how to install and configure the tile.

## <a id='limitations'></a> Beta Limitations

The beta version of Solace Messaging for PCF currently has the following limitations:

* The VMR is limited to a 90 days evaluation period.
* No support for Solace Message Router High availability
* No support for TLS connections
* No support for Client certificate-based authentication
* No support for LDAP and RADIUS-based authentication
* No routes are set up which would allow access to the Virtual Message Router from external networks.
* All Persistent Messages are lost during a tile upgrade

## <a id='feedback'></a>Feedback

Provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.



