---
title: Managing the Message VPN
owner: Partners
---

This topic describes how to manage the Message VPN on a Solace Virtual Message Router (VMR). After Solace Messaging for Pivotal Cloud Foundry (PCF) is installed, developers can provision Message VPNs on a VMR by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI). Each service instance represents one Message VPN. 

Developers can manage the Message VPN associated with a service instance by connecting to the VMR with the SolAdmin administration tool.

## <a id='retrieve'></a>Retrieve Information 

To retrieve the information required to connect to the VMR, perform the following steps:

1. Log in to your deployment and choose the org and space where your Solace Messaging service instance and bound application exists.
  <pre class="terminal">
  $ cf login
  API endpoint: <span>https:</span>//api.YOUR-SYSTEM-DOMAIN
  Email> user<span>@</span>example.com
  Password>
  </pre>
1. View the `VCAP_SERVICES` environment variable by retrieving the environment variables associated with your bound application:
  <pre class="terminal">
  $ cf env YOUR-APP
  </pre>
1. Locate your Solace Messaging service instance in `VCAP_SERVICES` and record the following fields:
  * `managementUsername`: The service instance's management username
  * `managementPassword`: The service instance's management password
  * `managementHttpUris`: The VMR's IP address and management port, in the format `http://IP-ADDRESS:MANAGEMENT-PORT/SEMP/V2`
  <br><br>
  For more information about the `VCAP_SERVICES` fields, see the [Understanding Credentials](credentials.html) topic.

## <a id='connect'></a> Connect to the Solace VMR

The procedure for connecting to the Solace VMR varies depending on whether you have direct connectivity to the network where you installed Solace Messaging.
This was the network that was picked in the `Tile Installation and Configuration` section.

###<a id='direct-connectivity'></a> Connect with Direct Connectivity

If you have direct connectivity to the network where you installed Solace Messaging, perform the following steps to connect to the Solace VMR:

1. Download and install the SolAdmin administration tool from the [Solace Developers Portal Download Page](http://dev.solace.com/downloads/).
1. Start SolAdmin.
1. Click **Manage** to open the **Manage Appliance** window.
  <%= image_tag('soladmin_manage.png') %>
1. Under **Management IP Address**, enter the IP address of the VMR recorded above.
1. Under **User Name** and **Password**, enter the management username and password recorded above.
1. Click **Ok**. The VMR should now appear in the **Managed Appliances** list.
	<%= image_tag('soladmin_router_list.png') %>
1. To learn how to use SolAdmin to manage your Message VPN, see the included context specific tool help within the SolAdmin tool itself.

###<a id='no-direct-connectivity'></a> Connect without Direct Connectivity

If you do not have direct connectivity to the network where you installed Solace Messaging, perform the following steps to connect to the Solace VMR:

1. Download and install the SolAdmin administration tool from the [Solace Developers Portal Download Page](http://dev.solace.com/downloads/).
1. Open an ssh session to a host with connectivity to PCF's internal network and create a tunnel to the VMR SEMP port:
    <pre class="terminal">
    $ ssh -L LOCAL-PORT:IP-ADDRESS:MANAGEMENT-PORT USER@HOST
    </pre>
    Replace the placeholders with the following values:
    * `LOCAL-PORT`: A free port on your local machine
    * `IP-ADDRESS` and `MANAGEMENT-PORT`: The VMR's IP address and management port, recorded above in the [Retrieve Information](#retrieve) section
    * `USER`: The username you use to log in to the host
    * `HOST`: The IP address or FQDN of the host
1. Once you have established the SSH session, start SolAdmin.
1. Click **Manage** to open the **Manage Appliance** window.
	<%= image_tag('soladmin_manage_tunnel.png') %>
1. Under **Management IP Address**, enter `127.0.0.1`
1. Under **Management Port**, enter the local port chosen above when the SSH tunnel was created.
1. Under **User Name** and **Password**, enter the management username and password recorded above.
1. Click **Ok**. The VMR should now appear in the **Managed Appliances** list.
	<%= image_tag('soladmin_router_list.png') %>
1. To learn how to use SolAdmin to manage your Message VPN, see the included context specific tool help within the SolAdmin tool itself.

<p class="note"><strong>Note</strong>: The requirement to forward ports is a current limitation of the Solace Messaging tile in Open Beta. This will be improved in a future release to simplify this procedure.</p> 
