---
title: Resource Requirements
owner: Partners
---

The default resource and IP requirements for installing the Solace Messaging for Pivotal Cloud Foundry tile:
<table border="1" class="nice">
	<tr>
		<th>Product</th>
		<th>Resource</th>
		<th>Instances</th>
		<th>CPU</th>
		<th>Ram</th>
		<th>Ephemeral</th>
		<th>Persistent</th>
		<th>Static IP</th>
		<th>Dynamic IP</th>
	</tr>
    <tr>
        <td>Solace Messaging</td>
        <td>Solace Service Broker</td>
        <td>1</td>
        <td>1</td>
        <td>1024</td>
        <td>1024</td>
        <td>0</td>
        <td>0</td>
        <td>1</td>
    </tr>
</table>

Notes:

* The 'Solace Service Broker' instance number can be increased after the Tile is deployed.