---
title: Solace Messaging for PCF
owner: Partners
---

Solace Messaging for Pivotal Cloud Foundry (PCF) enables developers to take advantage of the leading multi-cloud, multi-protocol messaging solution which makes app inter-connectivity easy and makes production apps scalable, robust, high-performant, and easy to manage.  

Solace Messaging was designed to be deployed across all your IT environments including your non-cloud datacenter, all leading public clouds ([AWS](http://dev.solace.com/clouds/amazon-web-services/), [Azure](http://dev.solace.com/clouds/azure/) and [Google Cloud Platform](http://dev.solace.com/clouds/google-cloud/)) and the popular Platform as a Service, PCF, in order to provide a uniform messaging fabric for all your apps and to connect all your apps no matter where they are deployed.

<%= image_tag('solace-environments.png') %>

Solace Messaging supports all kinds of messaging APIs, QoS, and data streaming as part of one platform across all clouds in a high performance, WAN optimized, easy to manage solution. It's easily deployed in your public and private cloud environments and forms the perfect backbone for single or multi-cloud messaging support of your cloud native micro-services, IoT, big data capture, and next generation digital apps.

Solace Messaging for PCF provides plans for both shared message router instances for cost-effective development as well as a variety of plans for dedicated message routers of varying performance, scale, and high-availability. Together they meet the requirements for a range of robust test and production deployments.

One of the key strengths of Solace Messaging is its [support for many different open transports and protocols](http://dev.solace.com/tech/#multi-service), making Solace message routers ideal data distribution platforms to connect to any app.

<%= image_tag('solace-overview.png') %>


## <a id='getting-started'></a>Getting Started

In addition to the documentation here, there is also a wealth of information on the [Solace Developer Portal](http://dev.solace.com).

### <a id='cloud-operators'></a>Cloud Operators

For cloud operators, the following section shows you how to install and configure Solace Messaging for PCF in your environments.

* [Tile Installation and Configuration](installing.html)

### <a id='developers'></a>Developers

For developers, there are a few resources to help you easily get started with Solace Messaging for PCF. Within this documentation, see the following sections:

* [Service Instances](service-instances.html)
* [Bindings](bindings.html)
* [Service Keys](service-keys.html)
* [Solace Messaging Credentials](credentials.html)
* [Managing the Message VPN](managing.html)

There is also simple sample code which shows you how to easily connect to a Solace Messaging Service Instance:

* [Getting Started Samples](http://dev.solace.com/get-started/pcf-tutorials/) with full source code available in [GitHub](https://github.com/SolaceSamples/solace-samples-cloudfoundry-java)
* [Solace Messaging Demo App](https://github.com/SolaceLabs/sl-cf-solace-messaging-demo)

## <a id='marketplace-plans'></a>PCF Marketplace Plans

Solace Messaging currently offers the following plans to meet the needs of apps. 

<table border="1" class="nice">
	<tr>
		<th>Service Plan</th>
		<th>Description</th>
		<th>Evaluation Tile</th>
		<th>Enterprise Tile <a href="#tableNote2"><sup>2</sup></a></th>
	</tr>
  <tr>
    <td><a href='service-plans.html#plan_shared'>Shared</a></td>
    <td>A single Message VPN in a shared Solace Message Router. Useful for light traffic and development.</td>
    <td>&#10004; <a href="#tableNote1"><sup>1</sup></a></td>
    <td>&#10004;</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_large'>Large</a></td>
    <td>A single message VPN on a dedicated Solace Message Router. </td>
    <td>&#10004; <a href="#tableNote1"><sup>1</sup></a></td>
    <td>&#10004;</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_community'>Community</a></td>
    <td>A single message VPN on a dedicated Solace Message Router. The plan does not have a time limit but is limited by the features available on the Community Edition VMR.</td>
    <td>&#10004;</td>
    <td></td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_medium_ha'>Medium-HA</a></td>
    <td>A single message VPN implemented across 3 medium Solace Message Routers in a highly available configuration. </td>
    <td>&#10004; <a href="#tableNote1"><sup>1</sup></a></td>
    <td>&#10004;</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_large_ha'>Large-HA</a></td>
    <td>A single message VPN implemented across 3 large Solace Message Routers in a highly available configuration. </td>
    <td>&#10004; <a href="#tableNote1"><sup>1</sup></a></td>
    <td>&#10004;</td>
  </tr>
</table>

<p id='tableNote1' class="note"><strong><sup>1</sup> Note</strong>: This Evaluation Tile plan is fully featured but has a time limited 90-day evaluation period.</p>
<p id='tableNote2' class="note"><strong><sup>2</sup> Note</strong>: For access to the Enterprise Edition version of the Solace Messaging for PCF Tile, please contact <a href='https://solace.com/support' target="_blank">Solace Support</a> or your local <a href='mailto:info@solace.com?Subject=Enterprise Edition of Solace Messaging For PCF' target="_blank">Solace sales representative</a>.</p>

## <a id='cloud-integration'></a>Cloud Integration 

A Solace Messaging deployment under PCF can be configured to support integration with existing cloud services and hybrid cloud deployments.

### <a id='pcf-solace-messaging-intergration-tcp_routes'></a>TCP Routes

TCP Routes allows access to Solace messaging services hosted inside your PCF domain from external networks. By default, a PCF hosted service is not accessible to external networks.

<%= image_tag('arch_tcp_routes.png') %>

Having TCP Routes enables many use cases:

 * Hybrid cloud---other Solace appliances or VMRs deployed outside PCF can establish a [Bridge](https://docs.solace.com/Features/Working-With-Message-VPN-Bridges.htm) or [Multinode Routing](https://docs.solace.com/Features/Multi-Node-Routing.htm) connections to Solace messaging services inside your PCF cloud. 
 * External client apps---apps deployed outside PCF can communicate via messaging with apps deployed inside PCF by connecting to a Solace messaging service deployed in PCF.
 * IoT---devices using MQTT or REST can connect to Solace messaging services from outside PCF to communicate with your apps deployed inside PCF, look for the *TCP Routes for IoT---MQTT Java Application Tutorial* [Getting Started Samples](http://dev.solace.com/get-started/pcf-tutorials/) with full source code available in [GitHub](https://github.com/SolaceSamples/solace-samples-cloudfoundry-java/tcp-routes-mqtt/).
 * Mobile Apps---mobile and web apps can use [web messaging](https://docs.solace.com/Features/Web-Messaging-Concepts/Web-Messaging-Concepts.htm) to connect to Solace messaging services from outside PCF to communicate with your apps deployed inside PCF.

  To use TCP Routes, you need to [enable and configure TCP Routes at installation time](installing.html#optional_tcp_routes) with a selection of default settings for each messaging protocol that you wish to use. Once enabled, TCP Routes can be fine tuned per service at service creation time.

### <a id='pcf-solace-messaging-intergration-system_logging'></a>System Logging

System Logging allows for redirecting the logs from the Solace Messaging PCF components to an external syslog service. To use System Logging you need to [enable and configure System Logging at installation time](installing.html#optional_system_logging).

### <a id='pcf-solace-messaging-intergration-ldap'></a>LDAP

Enables the use of an LDAP server for the VMR's authentication and authorization needs.
The configuration allows granting an LDAP server control over Management access and Application access.
To use LDAP you need to [Enable and configure LDAP at installation time](installing.html#optional_ldap_settings) and make a choice about [Management Access](installing.html#optional_management_access) and [Application Access](installing.html#optional_application_access).

## <a id='solace-messaging-features'></a>Solace Messaging Features

In addition to easy and natural APIs for your apps, Solace Messaging supports the following key features:

* [Easy integration with 3rd party products](http://dev.solace.com/integration-guides/) such as big data, ESBs, JEE, DataPower, and more.
* [Comprehensive authentication, authorization and encryption](http://dev.solace.com/tech/#security) features to ensure that your infrastructure and information are protected at all times.
* [The most robust data movement infrastructure available today](http://dev.solace.com/tech/#robustness), offering fault tolerance and disaster recovery.
* [Integrated federation and distribution](http://dev.solace.com/tech/#federation) for connectivity between Solace message routers.
* [High performance](http://dev.solace.com/tech/#high-performance) messaging middleware which can cost-effectively meet the needs of any app.
* [Fast, efficient WAN distribution](http://dev.solace.com/tech/#wan-distribution).
* [Simplified operations](http://dev.solace.com/tech/#management-monitoring) with multiple management administration interfaces.
* [Virtualize application groups on a single Solace message router](http://dev.solace.com/tech/#virtualization) with complete message isolation through Solace Message VPNs.


## <a id='architecture'></a>Architecture

Solace Messaging is a Managed Service. The tile deploys the Virtual Message Routers onto PCF's IaaS. The Solace Messaging tile registers a service broker with PCF and exposes its service plans in the PCF Marketplace. The following diagram provides an overview of the product architecture of Solace Messaging for PCF.

<%= image_tag('Deployment-overview.png') %>

## <a id='snapshot'></a>Product Snapshot

The following table provides version and version-support information about Solace Messaging for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.2.1</td>
    </tr>
    <tr>
        <td>Editions</td>
	<td>Evaluation, <a href='https://solace.com/support'>Enterprise</a></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 8, 2017</td>
    </tr>
    <tr>
        <td>Solace Virtual Message Router version</td>
        <td>v8.6.0.x</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.9.x, v1.10.x, v1.11.x, and v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.9.x, v1.10.x, v1.11.x, and v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>

## <a id='limitations'></a>Current Limitations

This version of Solace Messaging for PCF currently has the following limitations:

* No support for client certificate-based authentication.
* No support for RADIUS-based authentication.
* All persistent messages are lost during a tile upgrade.

## <a id='feedback'></a>Feedback

Provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.


