---
title: Solace PubSub+ for PCF
owner: Partners
---

Solace PubSub+ for Pivotal Cloud Foundry (PCF) enables you to take advantage of the leading multi-cloud, multi-protocol messaging solution which makes app interconnectivity easy and makes production apps scalable, robust, high-performant, and easy to manage.

Solace PubSub+ was designed to be deployed across all your IT environments including your non-cloud datacenter, all leading public clouds ([AWS](http://dev.solace.com/clouds/amazon-web-services/), [Azure](http://dev.solace.com/clouds/azure/), and [Google Cloud Platform](http://dev.solace.com/clouds/google-cloud/)) and the popular Platform as a Service, PCF, in order to provide a uniform messaging fabric for all your apps and connect them no matter where they are deployed.

<%= image_tag('solace-environments_new.png') %>

Solace PubSub+ supports all kinds of messaging APIs, QoS, and data streaming as part of one platform across all clouds in a high-performance, WAN-optimized, easy-to-manage solution. It is easily deployed in your public and private cloud environments and forms the perfect backbone for single or multi-cloud messaging support of your cloud-native micro-services, IoT, big data capture, and next-generation digital apps.

Solace PubSub+ for PCF provides plans for both shared message broker instances for cost-effective development as well as a variety of plans for dedicated message brokers of varying performance, scale, and high-availability. Together, they meet the requirements for a range of robust test and production deployments.

One of the key strengths of Solace PubSub+ is its [support for many different open transports and protocols](http://dev.solace.com/tech/#multi-service), making Solace PubSub+ message brokers ideal data distribution platforms to connect to any app.

<%= image_tag('new_solace-overview_new.png') %>


## <a id='getting-started'></a> Getting Started

In addition to the documentation here, there is also a wealth of information on the [Solace Developer Portal](http://dev.solace.com).

### <a id='cloud-operators'></a> Cloud Operators

For cloud operators, the following section shows how to install and configure Solace PubSub+ for PCF in your environments.

* [Tile Installation and Configuration](installing.html)

### <a id='developers'></a> Developers

For developers, there are a few resources to help you easily get started with Solace PubSub+ for PCF. Within this documentation, see the following sections:

* [Service Instances](service-instances.html)
* [Bindings](bindings.html)
* [Service Keys](service-keys.html)
* [Solace PubSub+ Credentials](credentials.html)
* [Managing the Message VPN](managing.html)

There is also simple sample code which shows you how to easily connect to a Solace PubSub+ Service Instance:

* [Getting Started Samples](http://dev.solace.com/get-started/pcf-tutorials/) with full source code available in [GitHub](https://github.com/SolaceSamples/solace-samples-cloudfoundry-java)
* [Solace PubSub+ Demo App](https://github.com/SolaceLabs/sl-cf-solace-messaging-demo)


## <a id='tiles'></a> Solace PubSub+ for PCF Tiles

Solace offers two PubSub+ for PCF tiles: the Enterprise Evaluation tile and the Enterprise tile.

The Enterprise Evaluation tile is comprised of two message brokers: Solace PubSub+ Standard, and Solace PubSub+ Enterprise Evaluation Edition. PubSub+ Standard is a forever free enterprise-grade message broker that supports publish/subscribe, queueing, request/reply, and streaming, along with integrated high availability (HA) and disaster recovery (DR). The PubSub+ Enterprise Evaluation Edition is a free 90-day evaluation version of the PubSub+ Enterprise edition, which supports all the features of PubSub+ Standard, but with increased performance and scaling. You can download an Enterprise Evaluation tile [here](https://network.pivotal.io/products/solace-pubsub/). Also, if you are interested in a support plan for Solace PubSub+ for PCF, contact [Solace Support](https://solace.com/support) or your local [Solace sales representative](mailto:info@solace.com?Subject=Enterprise version of Solace PubSub+ For PCF).
 
The Enterprise tile is also comprised of two message brokers: Solace PubSub+ Standard, and Solace PubSub+ Enterprise. Contact [Solace Support](https://solace.com/support) for information on how to obtain this tile and associated support plans.


## <a id='marketplace-plans'></a> PCF Marketplace Plans

Solace PubSub+ for PCF offers operator configurable service plans. As of release 2.2.0 the [Preconfigured Service Plans](service-plans.html#preconfigured_service_plans) are now editable by the operator.  There are also additional [Unconfigured Service Plans](service-plans.html#unconfigred_service_plans) that can also be customized by the operator.  

These are the plans for both the Enterprise Evaluation and Enterprise tiles:

<table border="1" class="nice">
	<tr>
		<th>Service Plan</th>
		<th>Description</th>
	</tr>
  <tr>
    <td><a href='service-plans.html#plan_standard_medium'>Standard Medium</a></td>
    <td>A single message VPN on a dedicated Solace PubSub+ Standard message broker with associated properties set to moderate values.</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_standard_medium_ha'>Standard Medium-HA</a></td>
    <td>A single message VPN spanning 3 Solace PubSub+ Standard message brokers in a high availability (HA) configuration with associated properties set to moderate values.</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_standard_3'>Standard Plan 3</a></td>
    <td>A unconfigured service plan for the operator to <a href='service-plans.html#service_plan_configuration'>customize</a>. This plan can deploy a Solace PubSub+ Standard message broker.</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_standard_4'>Standard Plan 4</a></td>
    <td>A unconfigured service plan for the operator to <a href='service-plans.html#service_plan_configuration'>customize</a>. This plan can deploy a Solace PubSub+ Standard message broker.</td>
  </tr>

  <tr>
    <td><a href='service-plans.html#plan_enterprise_shared'>Enterprise Shared</a></td>
    <td>A single message VPN in a shared Solace PubSub+ Enterprise or Enterprise Evaluation Edition message broker. Useful for light traffic and development.</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_enterprise_large'>Enterprise Large</a></td>
    <td>A single message VPN on a dedicated Solace PubSub+ Enterprise or Enterprise Evaluation Edition message broker with associated properties set to high values.</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_enterprise_medium_ha'>Enterprise Medium-HA</a></td>
    <td>A single message VPN spanning 3 Solace PubSub+ Enterprise or Enterprise Evaluation Edition message brokers in a high availability (HA) configuration with associated properties set to moderate values.</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_enterprise_large_ha'>Enterprise Large-HA</a></td>
    <td>A single message VPN spanning 3 Solace PubSub+ Enterprise or Enterprise Evaluation Edition message brokers in a high availability (HA) configuration with associated properties set to high values.</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_enterprise_5'>Enterprise Plan 5</a></td>
    <td>A unconfigured service plan for the operator to <a href='service-plans.html#service_plan_configuration'>customize</a>. This plan can deploy a Solace PubSub+ Enterprise or Enterprise Evaluation Edition message broker.</td>
  </tr>
  <tr>
    <td><a href='service-plans.html#plan_enterprise_6'>Enterprise Plan 6</a></td>
    <td>A unconfigured service plan for the operator to <a href='service-plans.html#service_plan_configuration'>customize</a>. This plan can deploy a Solace PubSub+ Enterprise or Enterprise Evaluation Edition message broker.</td>
  </tr>
</table>


## <a id='cloud-integration'></a> Cloud Integration 

A Solace PubSub+ deployment under PCF can be configured to support integration with existing cloud services and hybrid cloud deployments.

### <a id='pcf-solace-messaging-intergration-tcp_routes'></a> TCP Routes

TCP routes allow access to Solace messaging services hosted inside your PCF domain from external networks. By default, a PCF-hosted service is not accessible to external networks.

<%= image_tag('arch_tcp_routes_new.png') %>

Having TCP routes enables many use cases:

 * **Hybrid cloud:** Other Solace PubSub+ message brokers deployed outside PCF can establish [Bridge](https://docs.solace.com/Features/Working-With-Message-VPN-Bridges.htm) connections to Solace PubSub+ services inside your PCF cloud. 
 * **External client app:** Apps deployed outside PCF can communicate via messaging with apps deployed inside PCF by connecting to a Solace PubSub+ service deployed in PCF.
 * **IoT:** Devices using MQTT or REST can connect to Solace PubSub+ services from outside PCF to communicate with your apps deployed inside PCF, look for the *TCP Routes for IoT---MQTT Java Application Tutorial* [Getting Started Samples](http://dev.solace.com/get-started/pcf-tutorials/) with full source code available in [GitHub](https://github.com/SolaceSamples/solace-samples-cloudfoundry-java/tcp-routes-mqtt/).
 * **Mobile apps:** Mobile and web apps can use [web messaging](https://docs.solace.com/Features/Web-Messaging-Concepts/Web-Messaging-Concepts.htm) to connect to Solace PubSub+ services from outside PCF to communicate with your apps deployed inside PCF.

To use TCP routes, you must [enable and configure TCP Routes at installation time](installing.html#optional_tcp_routes) with a selection of default settings for each messaging protocol you wish to use. Once enabled, TCP routes can be fine-tuned per service at service creation time.

### <a id='pcf-solace-messaging-intergration-system_logging'></a> System Logging

System logging allows you to redirect the logs from the Solace PubSub+ PCF components to an external syslog service. To use system logging, you must [enable and configure system logging at installation time](installing.html#optional_system_logging).

### <a id='pcf-solace-messaging-intergration-ldap'></a> LDAP

You can enable the use of an LDAP server for the Solace PubSub+ message broker's authentication and authorization needs. This configuration allows you to grant an LDAP server control over Management access and Application access. To use LDAP, you must [enable and configure LDAP at installation time](installing.html#optional_ldap_settings) and make a choice about [Management Access](installing.html#optional_management_access) and [Application Access](installing.html#optional_application_access).


## <a id='solace-messaging-features'></a> Solace PubSub+ Features

In addition to easy and natural APIs for your apps, Solace PubSub+ supports the following key features:

* [Easy integration with 3rd party products](http://dev.solace.com/integration-guides/) such as big data, ESBs, JEE, DataPower, and more.
* [Comprehensive authentication, authorization, and encryption](http://dev.solace.com/tech/#security) features to ensure that your infrastructure and information are protected at all times.
* [The most robust data movement infrastructure available today](http://dev.solace.com/tech/#robustness), offering fault tolerance and disaster recovery.
* [Integrated federation and distribution](http://dev.solace.com/tech/#federation) for connectivity between Solace message brokers.
* [High-performance](http://dev.solace.com/tech/#high-performance) messaging middleware which can cost-effectively meet the needs of any app.
* [Fast, efficient WAN distribution](http://dev.solace.com/tech/#wan-distribution).
* [Simplified operations](http://dev.solace.com/tech/#management-monitoring) with multiple management administration interfaces.
* [Virtualize application groups on a single Solace message broker](http://dev.solace.com/tech/#virtualization) with complete message isolation through Solace Message VPNs.


## <a id='architecture'></a> Architecture

Solace PubSub+ is a managed service. The tile deploys the PubSub+ message brokers onto PCF's IaaS. The Solace PubSub+ tile registers a service broker with PCF and exposes its service plans in the PCF Marketplace. The diagram below provides an overview of the product architecture of Solace PubSub+ for PCF.

<%= image_tag('Deployment-overview_new.png') %>


## <a id='snapshot'></a> Product Snapshot

<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

<p class='note'><strong>Note:</strong> As a major and renamed release, upgrades from the older named product solace-messaging (v1.4.0 and below) to solace-pubsub are not possible. However, it will be possible going forward to upgrade from Solace PubSub+ for PCF v2.0 to subsequent releases.</p>

The following table provides version and version-support information about Solace PubSub+ for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.2.0</td>
    </tr>
    <tr>
        <td>Editions</td>
	<td>Enterprise Evaluation, <a href='https://solace.com/support'>Enterprise</a></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 21, 2018</td>
    </tr>
    <tr>
        <td>Solace PubSub+ message broker version</td>
        <td>v8.13.1.30</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.1.x, v2.2.x, and v2.3.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>


## <a id='limitations'></a> Current Limitations

This version of Solace PubSub+ for PCF currently has the following limitations:

* No support for RADIUS-based authentication.
* Dynamic Message Routing mode on service instances upgraded from 8.12.x must be enabled by the operator.

## <a id='feedback'></a> Feedback

Provide any bugs, feature requests, or questions to [Solace Support](https://solace.com/support).
