---
title: Managing the Message VPN
owner: Partners
---

Developers can manage the Message VPN associated with a service instance by connecting to the VMR with the SolAdmin administration tool.

## <a id='retrieve'></a>Retrieve Information 

To retrieve the information required to connect to the VMR, perform the following steps:

1. Log in to your deployment and choose the org and space where your Solace Messaging service instance and bound application exists.
  <pre class="terminal">
  $ cf login
  API endpoint: <span>https:</span>//api.YOUR-SYSTEM-DOMAIN
  Email> user<span>@</span>example.com
  Password>
  </pre>
1. View the `VCAP_SERVICES` environment variable by retrieving the environment variables associated with your bound application:
  <pre class="terminal">
  $ cf env YOUR-APP
  </pre>
1. Locate your Solace Messaging service instance in `VCAP_SERVICES` and record the following fields:
  * `managementHostnames`: The VMR's management hostnames
  * When Management Access is set to 'VMR Internal'
      * `managementUsername`: The service instance's management username
      * `managementPassword`: The service instance's management password
  * When Management Access is set to 'LDAP Server'
      * The management username and password are to be provided by the LDAP Administrator
  <br><br>
  For more information about the `VCAP_SERVICES` fields, see the [Understanding Credentials](credentials.html) topic.

## <a id='connect'></a> Connect to the Solace VMR

The ``managementHostnames`` are externally accessible FQDNs and can be used directly from within Soladmin. The procedure is as follows:

1. Download and install the SolAdmin administration tool from the [Solace Developers Portal Download Page](http://dev.solace.com/downloads/).
1. Start SolAdmin.
1. Click **Manage** to open the **Manage Appliance** window.
  <%= image_tag('soladmin_manage.png') %>
1. Under **Management Host**, enter the management hostname of the VMR recorded above.
1. Under **User Name** and **Password**, enter the management username and password recorded above.
1. Click **Ok**. The VMR should now appear in the **Managed Appliances** list.
	<%= image_tag('soladmin_router_list.png') %>
1. To learn how to use SolAdmin to manage your Message VPN, see the included context specific tool help within the SolAdmin tool itself.
