---
title: Managing the Message VPN
owner: Partners
---

Developers can manage the Message VPN associated with a service instance by using the Dashboard URL of the service and by connecting to the Solace PubSub+ Event Broker via the PubSub+ Manager web browser based interface.


## <a id='solace_pubsub_service_dashboard'></a> Solace PubSub+ Service Dashboard

The Solace PubSub+ Service Dashboard offers the following functionality:

* A link to the [Solace PubSub+ Manager](#solace_pubsub_manager).
* Manage Client Profiles and their configuration.
* Capture a backup of basic service configuration and subsequently restore it.
* Elect to receive an upgrade when an upgrade is available if [user controlled upgrades are enabled](installing.html#user-controlled-upgrades). 
  This includes the option to opt-in to automatically receive upgrades when they become availabe.

### <a id='retrieve_dashboard'></a> Retrieve Dashboard Information

1. Look for the 'Dashboard' by getting details about the created service.
	<pre class="terminal">
	$ cf service solace-pubsub-instance-IoT

	Service instance: solace-pubsub-instance-IoT
	Service: solace-pubsub
	Bound apps:
	Tags:
	Plan: enterprise-shared
	Description: Solace PubSub+ Event Broker for real-time, multi-protocol data distribution
	Documentation url: http<span>:</span>//docs.solace.com
  Dashboard: https<span>:</span>//solace-service-dashboard.YOUR-SYSTEM-DOMAIN/service-dashboard/f5d6bf5b-e84f-416b-8c08-4a0e782a51d2/
  
	Last Operation
	Status: create succeeded
	Message:
	Started: 2020-01-01T00:00:00Z
	Started: 2020-01-01T00:00:00Z
	</pre>

1. Use the provided URL in a browser. As of Solace PubSub+ version 2.8.0, the dashboard support Single Sign On using VMware Tanzu accounts. When navigating
to the URL provided, users will be asked to authorize Solace PubSub+ to read basic information about their VMware Tanzu account.
Users with manage access will be able to utilize the features of the service
dashboard such as Client Profile management, Backup and Restore, Service Management, and Upgrade Management. Users with only read access will see basic information such as
the vpn name and broker version. 

    <%= image_tag('sample_service_dashboard.png') %>

### <a id='client_profile_management'></a> Client Profile Management

Client profiles are assigned to client usernames so that a common configuration can be applied to groups of clients.

The Client Profile Management section displays existing client profiles and offers the ability to create, update, and delete client profiles on the message VPN. While creating and updating client profiles, select the client profile capabilities to turn ON/OFF. For more information about client profiles, please consult Solace's documentation: [Client Profile](https://docs.solace.com/PubSub-Basics/Core-Concepts-Solace-Event-Broker-Concepts.htm#client-profile) and [Client Profile Configuration](https://docs.solace.com/Configuring-and-Managing/Configuring-Client-Profiles.htm)

The client profile highlighted in light green is the selected default client profile. New client usernames created through Cloud Foundry are automatically assigned this client profile. To select a different default client profile, use the dropdown menu that can be found at the bottom of the client profile table. Changing the default client profile does not modify existing client usernames, the change only applies to new client usernames.  

Note that updating a client profile affects all clients using the client profile.

Also note that the client profile named 'default' as well as the selected default client profile (the highlighted client profile) can't be deleted. 

### <a id='solace_pubsub_configuration_backup_and_restore'></a> Solace PubSub+ Configuration Backup and Restore

It provides the ability to capture a backup of service **configuration only** and to restore to a newly created service.

At this point it is not intended to do a full backup and restore on the same service. It should only be used to transfer limited configuration to a new service when data retention is not needed.

**Note that performing a restore will delete all persisted messages and will leave the VPN with only the objects that existed when the backup was performed.**

## <a id='solace_pubsub_manager'></a> Solace PubSub+ Manager

The Solace PubSub+ Event Broker includes a browser based management interface for the Solace PubSub+ services.
The Solace PubSub+ Manager is accessible when a service is created from a link in the [Solace PubSub+ Service Dashboard](#solace_pubsub_service_dashboard).

### <a id='sample_pubsub_manager'></a> Sample PubSub+ Manager

  <%= image_tag('sample_pubsub_manager_new.png') %>

### Restrictions on the Use of the PubSub+ Manager

There are some actions that you must not perform in the PubSub+ Manager:

1. Do not change anything on the **Message VPN/Services** page. Settings such as
TLS configuration must be managed through the tile.
1. On the **Message VPN/Replication** page, do not change the Replication Role.
This causes the deployment to fail.
1. Do not change anything on the **Access Control/Client Authentication** page.
Settings such as Authentication type must be managed through the tile. Likewise,
client usernames should be created by binding services through VMware Tanzu.

## <a id='manage_with_semp'></a> Managing with SolAdmin

This section describes how to connect to the Solace PubSub+ Event Broker with the SolAdmin legacy administration tool to manage the Message VPN associated with a service instance.

### <a id='retrieve_bound_app'></a> Retrieve Information From a Bound App

To retrieve the information required to connect to the Solace PubSub+ Event Broker from a bound app, do the following:

1. Log in to your deployment and choose the org and space where your Solace PubSub+ service instance and bound app exists.
  <pre class="terminal">
  $ cf login
  API endpoint: <span>https:</span>//api.YOUR-SYSTEM-DOMAIN
  Email> user<span>@</span>example.com
  Password>
  </pre>

1. View the `VCAP_SERVICES` environment variable by retrieving the environment variables associated with your bound app:
  <pre class="terminal">
  $ cf env YOUR-APP
  </pre>

### <a id='retrieve_service_key'></a> Retrieve Information from a Service Key

To retrieve the information required to connect to the Solace PubSub+ Event Broker from a service key, do the following:

1. Log in to your deployment and choose the org and space where your Solace PubSub+ service instance and service key exists.
  <pre class="terminal">
  $ cf login
  API endpoint: <span>https:</span>//api.YOUR-SYSTEM-DOMAIN
  Email> user<span>@</span>example.com
  Password>
  </pre>

1. View the service key:
  <pre class="terminal">
  $ cf service-key solace-pubsub-instance my-service-key
  </pre>

### <a id='locate_credentials'></a> Locate the Management Host and Credentials

1. Both the `VCAP_SERVICES` and service key contain the same information, look for and record the following fields:
  * `managementHostnames`: The Solace PubSub+ Event Broker's management hostnames. There will be multiple entries for Services on HA Plans.
  * `activeManagementHostname`: A single entry that is dynamically routed to the active node for an HA service. Will always be the same as `managementHostnames` for non-HA plans.
  * When Management Access is set to `Event Broker Internal`:
      * `managementUsername`: The service instance's management username
      * `managementPassword`: The service instance's management password
  * When Management Access is set to `LDAP Server`:
      * The management username and password are to be provided by the LDAP Administrator.
  <br><br>
  For more information about the `VCAP_SERVICES` fields, see the [Understanding Credentials](credentials.html) topic.

### <a id='connect'></a> Connect to the Solace PubSub+ Event Broker

The `managementHostnames` and `activeManagementHostname` are externally accessible FQDNs and can be used directly from within SolAdmin using standard ports for HTTP (`80`) and HTTPS (`443`). The procedure is as follows:

1. Download and install the SolAdmin administration tool from the [Solace Developers Portal Download Page](http://dev.solace.com/downloads/).

1. Start SolAdmin.

1. Click **Manage** to open the **Manage Appliance** window.

    <%= image_tag('soladmin_manage.png') %>

1. Under **Management Host**, enter the active management hostname of the Solace PubSub+ Event Broker recorded above.

1. Under **User Name** and **Password**, enter the management username and password recorded above.

1. Click **Ok**.
   The Solace PubSub+ Event Broker should now appear in the **Managed Appliances** list.

    <%= image_tag('soladmin_router_list.png') %>

1. To learn how to use SolAdmin to manage your Message VPN, see the included context specific tool help within the SolAdmin tool itself.
